@{
    Layout = "_Layout";
}
@model Medicin

<!-- SERVICES-1 -->
<section id="services1">
    <div class="service-item1" id="kommuner">
        <img src="icons/kommun.svg" alt="en byggnad icon" />
        <h2><a asp-action="Index" asp-controller="User">VÅRDCENTRALER</a></h2>
        <p>Vårdcentraler som är nära dig.</p>
    </div>
    <div class="service-item1" id="myndigheter">
        <img src="icons/myndighet.svg" alt="en byggnad icon" />
        <h2><a asp-action="Index" asp-controller="User">PRODUKTER</a></h2>
        <p> Se lista över alla våra produkter</p>
    </div>
    <div class="service-item1" id="person">
        <img src="icons/utbildning.svg" alt="person icon" />
        <h2><a asp-action="Index" asp-controller="User">BESTÄLLNING</a></h2>
        <p>Du kan beställa medicin och din recept.</p>
    </div>
</section>


