
<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="UTF-8" />
    <meta name="description" content="Shopping" />
    <meta name="author" content="Gözde Akgün" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/index.css" />
    <link rel="icon" href="icons/logo.png" />
    <title>E-apotek</title>
</head>

<body>

    <!-- HEADER -->
    <header>
        <nav class="menu">
            <ul>
                <li><i class="fa fa-globe"></i> English</li>
                <li class="login knapp"><a asp-action="Index" asp-controller="User">Logga in</a></li>
            </ul>
        </nav>
        <div>
             <a asp-action="Index" asp-controller="Home">
                <img class="logo"
                     src="~/icons/logo.png"
                     alt="Apotekens Logo" />
            </a>
        </div>
    </header>

    <main>
        @RenderBody()

    </main>
    <!-- FOOTER -->
    <footer>
        <nav class="social-menu">
            <ul aria-label="Sociala länkar">
                <li><span> Följ oss</span></li>
                <li>
                    <a href="https://www.instagram.com/" target="_blank">
                        <span class="fa fa-instagram fa-fw" title="instagram.com"><span class="sr-only">Instagram</span></span>
                    </a>
                </li>
                <li>
                    <a href="https://www.facebook.com/" target="_blank">
                        <span class="fa fa-facebook-f fa-fw" title="facebook.com"><span class="sr-only">Facebook</span></span>
                    </a>
                </li>
            </ul>
        </nav>

        <div>
            <a asp-action="Index" asp-controller="Home">
                <img class="logo"
                     src="~/icons/logo.png"
                     alt="Apotekens Logo" />
            </a>
            <div class="line">© Copyright 2023</div>
        </div>
    </footer>

</body>
</html>

