@{
    Layout = "_Layout";
}
@model Medicin
<div class="form">
    <h2>Ändra medicin</h2>
    <form asp-action="Edit" class="form">
        @*   <input typeof="hidden" asp-for="Id" /> *@
        <div>
            Varumärke : <input asp-for="Titel" />
        </div>
        <div>
            Produktfakta: <input asp-for="Innehåll" />
        </div>
        <div>
            Dosage : <input asp-for="Dosage" />
            @* <select asp-for="DosId" asp-items="ViewBag.DosId"> </select> *@
        </div>

        <div>
            <input type="submit" value="Spara" class="knapp action" />
        </div>

    </form>
</div>



